h2 {{name | uppercase}}
.row
  .col-xs-4.col-xs-offset-4
    h2 Tasks
    form
      .form-group
        label(for='task-name') Task Name
        input#task-name.form-control(type='text', autofocus=true ng-model='task.title')
.row
  .col-xs-2.col-xs-offset-4
    .form-group
      label(for="due-date") Date Due
      input#due-date.form-control(type='date' ng-model='task.duedate')
  .col-xs-2
    .form-group
      label(for='priority') Priority
      select#priority.form-control(ng-model='task.priority')
        option High
        option Medium
        option Low
.row
  .col-xs-4.col-xs-offset-4
    .form-group
      button.btn.btn-success.form-control(ng-click="addTask(task)" ng-hide="task.$id") Add Task
      button.btn.btn-success.form-control(ng-click="saveChange(task)" ng-show="task.$id") Save Changes
table.table.table-striped
  thead
    tr
      th Edit
      th Delete
      th(ng-click='sort("title")') Title
      th(ng-click='sort("dueDate")') Due Date
      th(ng-click='sort("priority")') Priority
      th(ng-click='sort("isComplete")') Completed?
      th(ng-click='sort("createdAt")') Created At
  tbody
    tr(ng-repeat='task in afTasks |orderBy:taskOrder' ng-class='{completed:task.isComplete}')
      td: button.btn.btn-success.btn-xs(ng-click='editTask(task)') Edit
      td: button.btn.btn-danger.btn-xs(ng-click='deleteTask(task)') Delete
      td {{task.title}}
      td {{task.dueDate | date: 'yyyy-MM-dd'}}
      td {{task.priority}}
      td: input(type='checkbox', ng-model='task.isComplete', ng-click='saveChange(task)')
      td {{task.createdAt | date: 'yyyy-MM-dd'}}
